:root {
  --li-color: #fafafa;
  --heading-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%; /*62.5% = 10px in most browsers; 1rem = 10px*/
  box-sizing: border-box;
}

/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body {
  /* font: 400 inherit 150% "Lata", sans-serif; */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: var(--heading-color);
  background: linear-gradient(
    180deg,
    rgba(1, 56, 255, 0.71) 0%,
    rgba(255, 43, 234, 0.79) 93.75%
  );
}

.container {
  max-width: 1024px;
  margin: 20px auto;
  background: linear-gradient(
    180deg,
    rgba(3, 56, 244, 0.71) 0%,
    rgba(224, 37, 206, 0.79) 93.75%
  );
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.header {
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 15px;
}

.header__nav-link {
  cursor: pointer;
  /* z-index: 100; */
}

.header__nav-link:hover {
  color: #b43939;
}

.content {
  width: 90%;
  margin: 4rem auto;
  padding-bottom: 4.5rem;
  /* background-color: #ffffff; */
  background: rgba(196, 196, 196, 0.3);
  border-radius: 15px;
}

#contacts {
  margin: 4.5rem auto;
  width: 90%;
  transform: translateY(3.5rem);
  border: 3px solid #545454;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.photo {
  width: 40%;
  border-radius: 1.5rem;
  margin: 1.5rem;
  z-index: 1;
}

.contacts-div {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heading-main {
  /* font: 500 3.5rem "Montserrat, sans-serif"; */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #cecaca;
  font-size: 3.5rem;
}

.heading-secondary {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #545454;
  color: #ffffff;
  font-size: 3rem;
  margin-left: 1.5rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 5px;
  padding-top: 1rem;
  transform: translateY(-100%);
  display: inline-block;
}

.typography {
  font-size: 1.5rem;
  color: #ffffff;
  width: 100%;
  display: flex;
  background: rgba(196, 196, 196, 0.35);
  border: 2px solid #545454;
  border-radius: 1.5rem;
  padding: 0.5rem;
  align-items: center;
}

.typography img {
  margin-right: 7.5rem;
}

.telegram-link:hover {
  color: #b43939;
}

.about-paragraph {
  font-size: 2.5rem;
  color: #ffffff;
  /* padding: 1.5rem; */
  line-height: 120%;
  text-align: justify;
}

.flex-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill-logo {
  width: 8rem;
  margin: 1rem;
}

.skill-name {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.javascript {
  font-size: 1.5rem;
  line-height: 120%;
  border-radius: 15px;
  margin-top: 1.5rem;
}

.education {
  margin-left: 3rem;
}

.education-item {
  font-size: 2.5rem;
  line-height: 120%;
}

.education-link:hover {
  color: #b43939;
}

.about-english {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}
